In [43]:
import os
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv
import warnings
warnings.filterwarnings('ignore')


# Cargar archivo .env
# Ruta relativa desde el notebook hasta el .env
'''dotenv_path = '../generadores/.env'  #

# Cargar el archivo .env desde la ruta especificada
load_dotenv(dotenv_path=dotenv_path)

# Leer variables de entorno
username = os.getenv("USUARIO_DB")
password = os.getenv("CLAVE_BD")

# Validar que se cargaron bien
#print("Usuario:", username)
#print("Contraseña cargada:", bool(password))  # No imprime la clave, pero verifica si existe

if not username or not password:
    raise ValueError("Las variables de entorno USUARIO_DB o CLAVE_BD no están definidas")

# Cadena de conexión
conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=upgradeserver-vf.database.windows.net;'
    'DATABASE=Banco;'
    f'UID={username};'
    f'PWD={password}'
)

# Conexión
conn = pyodbc.connect(conn_str)'''

'dotenv_path = \'../generadores/.env\'  #\n\n# Cargar el archivo .env desde la ruta especificada\nload_dotenv(dotenv_path=dotenv_path)\n\n# Leer variables de entorno\nusername = os.getenv("USUARIO_DB")\npassword = os.getenv("CLAVE_BD")\n\n# Validar que se cargaron bien\n#print("Usuario:", username)\n#print("Contraseña cargada:", bool(password))  # No imprime la clave, pero verifica si existe\n\nif not username or not password:\n    raise ValueError("Las variables de entorno USUARIO_DB o CLAVE_BD no están definidas")\n\n# Cadena de conexión\nconn_str = (\n    \'DRIVER={ODBC Driver 17 for SQL Server};\'\n    \'SERVER=upgradeserver-vf.database.windows.net;\'\n    \'DATABASE=Banco;\'\n    f\'UID={username};\'\n    f\'PWD={password}\'\n)\n\n# Conexión\nconn = pyodbc.connect(conn_str)'

In [44]:
'''query_usuarios = "SELECT * FROM usuarios" 
df_usuarios = pd.read_sql(query_usuarios, conn)
df_usuarios.head()'''

'query_usuarios = "SELECT * FROM usuarios" \ndf_usuarios = pd.read_sql(query_usuarios, conn)\ndf_usuarios.head()'

In [45]:
df_usuarios = pd.read_csv('../data/usuarios.csv')

In [46]:
df_usuarios.duplicated().sum() #comprueba si hay duplicados

np.int64(0)

In [47]:
df_usuarios.isnull().sum() #comprueba si hay valores nulos

id                    0
nombre                0
apellido              0
estado_civil          0
dni                   0
nacionalidad          0
fecha_nacimiento      0
direccion             0
codigo_postal         0
provincia             0
telefono              0
email                 0
es_moroso             0
profesion             0
salario               0
numero_cuenta         0
tipo_cuenta           0
saldo                 0
antiguedad_cliente    0
genero                0
dtype: int64

In [48]:
df_usuarios.dtypes

id                     int64
nombre                object
apellido              object
estado_civil          object
dni                   object
nacionalidad          object
fecha_nacimiento      object
direccion             object
codigo_postal          int64
provincia             object
telefono               int64
email                 object
es_moroso               bool
profesion             object
salario               object
numero_cuenta         object
tipo_cuenta           object
saldo                 object
antiguedad_cliente    object
genero                object
dtype: object

In [49]:
'''query_activos = "SELECT * FROM activos_financieros" 
df_activos = pd.read_sql(query_activos, conn)
df_activos.head()'''

'query_activos = "SELECT * FROM activos_financieros" \ndf_activos = pd.read_sql(query_activos, conn)\ndf_activos.head()'

In [50]:
df_activos = pd.read_csv('../data/activo.csv')

In [51]:
df_activos.duplicated().sum() #comprueba si hay duplicados

np.int64(0)

In [52]:
df_activos.isnull().sum() #comprueba si hay valores nulos

id             0
usuario_id     0
tipo_activo    0
descripcion    0
monto          0
dtype: int64

In [53]:
df_activos.dtypes

id               int64
usuario_id       int64
tipo_activo     object
descripcion     object
monto          float64
dtype: object

In [54]:
'''query_creditos = "SELECT * FROM creditos" 
df_creditos = pd.read_sql(query_creditos, conn)
df_creditos.head()'''

'query_creditos = "SELECT * FROM creditos" \ndf_creditos = pd.read_sql(query_creditos, conn)\ndf_creditos.head()'

In [55]:
df_creditos = pd.read_csv('../data/creditos.csv')

In [56]:
df_creditos.duplicated().sum() #comprueba si hay duplicados

np.int64(0)

In [57]:
df_creditos.isnull().sum() #comprueba si hay valores nulos

id              0
usuario_id      0
monto           0
fecha_inicio    0
fecha_fin       0
estado          0
tipo            0
dtype: int64

In [58]:
df_creditos.dtypes

id                int64
usuario_id        int64
monto           float64
fecha_inicio     object
fecha_fin        object
estado           object
tipo             object
dtype: object

In [59]:
#cambiamos fecha_inicio y fecha_fin a datetime
df_creditos['fecha_inicio'] = pd.to_datetime(df_creditos['fecha_inicio'])
df_creditos['fecha_fin'] = pd.to_datetime(df_creditos['fecha_fin'])

In [60]:
'''query_cuentas = "SELECT * FROM cuentas_bancarias" 
df_cuentas = pd.read_sql(query_cuentas, conn)
df_cuentas.head()'''

'query_cuentas = "SELECT * FROM cuentas_bancarias" \ndf_cuentas = pd.read_sql(query_cuentas, conn)\ndf_cuentas.head()'

In [61]:
df_cuentas = pd.read_csv('../data/cuenta.csv')

In [62]:
df_cuentas.isnull().sum() #comprueba si hay valores nulos

id               0
usuario_id       0
numero_cuenta    0
tipo_cuenta      0
saldo            0
dtype: int64

In [63]:
df_cuentas.duplicated().sum() #comprueba si hay duplicados

np.int64(0)

In [64]:
df_cuentas.dtypes

id                int64
usuario_id        int64
numero_cuenta    object
tipo_cuenta      object
saldo            object
dtype: object

In [65]:
'''query_monedas = "SELECT * FROM monedas_digitales" 
df_monedas = pd.read_sql(query_monedas, conn)
df_monedas.head()''' 
df_monedas = pd.read_csv('../data/moneda.csv')

In [66]:
df_monedas.duplicated().sum() #comprueba si hay duplicados

np.int64(0)

In [67]:
df_monedas.isnull().sum() #comprueba si hay valores nulos

id              0
usuario_id      0
tipo_moneda     0
cantidad        0
valor_actual    0
dtype: int64

In [68]:
df_monedas.dtypes

id               int64
usuario_id       int64
tipo_moneda     object
cantidad        object
valor_actual    object
dtype: object